.page{
    
    size: 20 cm;
   border-bottom: 10px dotted purple;
    
}
.title{
    color: grey;
    font-size: small;
}
.contact{
    color: black;
    size: 18 cm;
    
}
.paragraf{
    font-size:x-large;
    color: black;
}
.caseta{
   border-style: solid;
   border-color: rgb(70, 30, 108);
  
}

h1{
    color: rgb(223, 73, 98);
}
::placeholder{
    color: green;
}
